.DS_Store
index.php

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock


application/config/database.php
application/config/config.php
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*


community_web_dev.code-workspace
application/config/config.php


uploads/job_listing
uploads/blog_images
index.php

application/views/profile/menu.php
node_modules
